  <a id="to-up" href="#"></a>
  <div class="footer">
    <div class="footer-inner">
      <div class="container">
        <div class="row">
          <div class="col-md-8 col-sm-8 border-right">
            <div class="row">
              <div class="col-sm-4">
                <div class="foot-nav">
                  <h3 class="title">VapeShop</h3>
                  <ul class="vertical-list">
                    <li class="vertical-list__item">
                      <a href="#" class="vertical-list__link"> О магазине</a>
                    </li>
                    <li class="vertical-list__item">
                      <a href="#" class="vertical-list__link">Новости</a>
                    </li>
                    <li class="vertical-list__item">
                      <a href="#" class="vertical-list__link">Блог</a>
                    </li>
                    <li class="vertical-list__item">
                      <a href="#" class="vertical-list__link">Вакансии</a>
                    </li>
                    <li class="vertical-list__item">
                      <a href="#" class="vertical-list__link">Контакты</a>
                    </li>
                    <li class="vertical-list__item">
                      <a href="#" class="vertical-list__link">Отзывы</a>
                    </li>
                    <li class="vertical-list__item">
                      <a href="#" class="vertical-list__link">Карта сайта</a>
                    </li>
                  </ul>
                </div>
              </div>

              <div class="col-sm-4">
                <div class="foot-nav">
                  <h3 class="title">Покупателям</h3>
                  <ul class="vertical-list">
                    <li class="vertical-list__item">
                      <a href="#" class="vertical-list__link">Каталог</a>
                    </li>
                    <li class="vertical-list__item">
                      <a href="#" class="vertical-list__link"> Как заказать</a>
                    </li>
                    <li class="vertical-list__item">
                      <a href="#" class="vertical-list__link">Доставка и оплата</a>
                    </li>
                    <li class="vertical-list__item">
                      <a href="#" class="vertical-list__link">Акции</a>
                    </li>
                    <li class="vertical-list__item">
                      <a href="#" class="vertical-list__link">Бонусная программа</a>
                    </li>
                    <li class="vertical-list__item">
                      <a href="#" class="vertical-list__link">Адреса магазинов</a>
                    </li>
                    <li class="vertical-list__item">
                      <a href="#" class="vertical-list__link">Гарантии/возврат</a>
                    </li>
                    <li class="vertical-list__item">
                      <a href="#" class="vertical-list__link">FAQ</a>
                    </li>
                  </ul>
                </div>
              </div>

              <div class="col-sm-4">
                <div class="foot-nav">
                  <h3 class="title">Мы в соцсетях</h3>
                  <ul class="vertical-list">
                    <li class="vertical-list__item">
                      <a href="#" class="vertical-list__link">
                        <span class="icon-round"><span class="icon-vk-ft"></span></span>
                        Вконтакте
                       </a>
                    </li>
                    <li class="vertical-list__item">
                      <a href="#" class="vertical-list__link">
                        <span class="icon-round"><span class="icon-fb-ft"></span></span>
                        Facebook
                      </a>
                    </li>
                    <li class="vertical-list__item">
                      <a href="#" class="vertical-list__link">
                        <span class="icon-round"><span class="icon-in-ft"></span></span>
                        Instagram
                      </a>
                    </li>
                    <li class="vertical-list__item">
                      <a href="#" class="vertical-list__link">
                        <span class="icon-round"><span class="icon-yb-ft"></span></span>
                        Youtube
                      </a>
                    </li>
                    <li class="vertical-list__item">
                      <a href="#" class="vertical-list__link">
                        <span class="icon-round"><span class="icon-tw-ft"></span></span>
                        Twitter
                      </a>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
          </div>

          <div class="col-sm-4">
            <div class="footer__contact">
              <div class="footer__contact-act">
                <a class="footer__tel" href="tel:88007008453">8 800 700-84-53</a>
              </div>
              <div class="footer__contact-act">
                <a class="footer__email" href="mailto:info@vapeshop.ru">info@vapeshop.ru</a>  
              </div>

              <div class="footer__contact-form">
                <form class="form-subscribe">
                  <h3 class="form-title">Подписаться на рассылку</h3>
                  <div class="form-group">
                    <input type="text" class="form-control" placeholder="Введите email">
                  </div>
                  <div class="form-action text-center">
                    <button type="submit" class="btn btn-red btn-big">Подписаться</button>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="copyright text-center">
      <div class="container">
        <p class="copyright__text">
          <a href="" class="copyright__logo icon-small-logo"></a>&copy; 2016 VapeShop Магазин Электронных сигарет
        </p>
        <p class="copyright__created">Сайт разработан компанией WBSpro <span class="icon-created"></span></p>
      </div>
    </div>
  </div>
</div>
<!-- END out-->
</body>
</html>