<!doctype html>
<html>
<head>
  <meta charset="utf-8">
  <title>Template</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="format-detection" content="telephone=no">
  <meta name="theme-color" content="#fff">
  <link rel="stylesheet" href="lib/bootstrap/css/bootstrap.min.css">
  <link rel="stylesheet" href="lib/range-slider/css/bootstrap-slider.min.css">
  <link rel="stylesheet" href="lib/bootstrap-star-rating-master/css/star-rating.min.css">
  <link rel="stylesheet" href="lib/bootstrap-touchspin-master/dist/jquery.bootstrap-touchspin.min.css">
  <link rel="stylesheet" media="all" href="css/style.css" >
  <script src="//cdnjs.cloudflare.com/ajax/libs/modernizr/2.8.3/modernizr.js"></script>
  <script src="https://maps.googleapis.com/maps/api/js?v=3.exp&signed_in=true"></script>
  <script src="js/app.js"></script>
</head>
<body>
<!-- BEGIN  out-->
<div class="out">
  <header class="header">
    <div class="header__top">
      <div class="container clearfix">
        <ul class="list-menu">
          <li class="list-menu__item">
            <a class="list-menu__link" href="#">О магазине</a>
          </li>
          <li class="list-menu__item">
            <a class="list-menu__link" href="#">Доставка и оплата</a>
          </li>
          <li class="list-menu__item">
            <a class="list-menu__link" href="#">FAQ</a>
          </li>
          <li class="list-menu__item">
            <a class="list-menu__link" href="#">Контакты</a>
          </li>
        </ul>

        <ul class="list-social">
          <li class="list-social__item"><a class="list-social__link" href="#"><span class="icon-fb-hd"></span></a></li>
          <li class="list-social__item"><a class="list-social__link" href="#"><span class="icon-vk-hd"></span></a></li>
          <li class="list-social__item"><a class="list-social__link" href="#"><span class="icon-yt-hd"></span></a></li>
          <li class="list-social__item"><a class="list-social__link" href="#"><span class="icon-in-hd"></span></a></li>
          <li class="list-social__item"><a class="list-social__link" href="#"><span class="icon-tw-hd"></span></a></li>
        </ul>
      </div>
    </div><!-- /.header__top -->

    <div class="header__bottom">
      <div class="container">
        <div class="row">
          <div class="col-md-3 col-sm-3 navbar-header">
            <a href="#" class="navbar-brand">
              <img src="img/logo.png" alt="Главная">
            </a>
          </div><!-- /.col-md-3 -->

          <div class="col-md-6 col-sm-5 header__bottom-center">
            <div class="header__number">
              <a href="tel:88007008453">8 (800) 700-84-53</a>
            </div>
            <a class="callback" href="#"><span class="icon-tel"></span> <span class="text">Заказать обратный звонок</span></a>
          </div><!-- /.col-md-6 -->

          <div class="col-md-3 col-sm-4">
            <div class="header__action">
              <ul class="list-action">
                <li class="list-action__item">
                  <a class="list-action__link" href="#" data-toggle="modal" data-target="#enterModal"><span class="icon-enter"></span>Вход</a>
                </li>
                <li class="list-action__item">
                  <a class="list-action__link" href="#" data-toggle="modal" data-target="#registrationModal">Регистрация</a>
                </li>
              </ul>
            </div>
            <div class="header__cart">
                <a href="#" class="cart-link">
                  <span class="icon-cart"></span>Корзина <span class="count">(10)</span>
                </a>
            </div><!-- /.header__cart -->
          </div><!-- /.col-md-3 -->
        </div>
      </div>
    </div><!-- /.header__bottom -->
  </header>

<nav class="navbar navbar-white">
  <div class="container">
    <div class="visible-xs menu-xs clearfix">
      <form class="navbar-form navbar-form-search navbar-left visible-xs" role="search">
        <div class="input-group">
          <input type="text" class="form-control" placeholder="Название товара">
          <span class="input-group-btn">
            <button class="btn btn-default" type="button"><span class="icon-search"></span></button>
          </span>
        </div><!-- /input-group -->
      </form>
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#mainMenu" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
    </div> 
    <div class="collapse navbar-collapse" id="mainMenu">
      <form class="navbar-form navbar-form-search navbar-right hidden-xs" role="search">
        <div class="input-group">
          <input type="text" class="form-control" placeholder="Название товара">
          <span class="input-group-btn">
            <button class="btn btn-default" type="button"><span class="icon-search"></span></button>
          </span>
        </div><!-- /input-group -->
      </form>

      <ul class="nav-main navbar-left">
        <li class="nav-main__item">
          <a class="nav-main__link has-sub" href="#">Раздел 1 
            <span class="touch-open js-open-menu"><span class="glyphicon glyphicon-plus"></span></span>
          </a>
          <div class="nav-main__sub-menu">
            <ul class="sub-menu">
              <li><a href="#">
                <h4 class="sub-menu__title">Клиромайзеры</h4>
                <div class="sub-menu__body">
                  <div class="sub-menu__preview" style="background-image: url(img/menu/category-img-1.png)" data-bg="url(img/menu/category-img-1.png)" data-hover-bg="url(img/menu/category-img-1-hover.png)">
                    
                  </div>
                  <div class="sub-menu__text">Вместо привычных металлических стенок в этом случае используется колба из закаленного стекла или прозрачного пластика.</div>
                </div>
              </a></li>
              <li><a href="#">
                <h4 class="sub-menu__title">Проволока</h4>
                <div class="sub-menu__body">
                  <div class="sub-menu__preview" style="background-image: url(img/menu/category-img-2.png)" data-bg="url(img/menu/category-img-2.png)" data-hover-bg="url(img/menu/category-img-2-hover.png)">
                    
                  </div>
                  <div class="sub-menu__text">Вместо привычных металлических стенок в этом случае используется колба из закаленного стекла или прозрачного пластика.</div>
                </div>
              </a></li>

              <li><a href="#">
                <h4 class="sub-menu__title">Корпуса, мундштуки</h4>
                <div class="sub-menu__body">
                  <div class="sub-menu__preview" style="background-image: url(img/menu/category-img-3.png)" data-bg="url(img/menu/category-img-3.png)" data-hover-bg="url(img/menu/category-img-3-hover.png)">
                    
                  </div>
                  <div class="sub-menu__text">Вместо привычных металлических стенок в этом случае используется колба из закаленного стекла или прозрачного пластика.</div>
                </div>
              </a></li>

              <li><a href="#">
                <h4 class="sub-menu__title">Сменные испарители</h4>
                <div class="sub-menu__body">
                  <div class="sub-menu__preview" style="background-image: url(img/menu/category-img-4.png)" data-bg="url(img/menu/category-img-4.png)" data-hover-bg="url(img/menu/category-img-4-hover.png)">
                    
                  </div>
                  <div class="sub-menu__text">Вместо привычных металлических стенок в этом случае используется колба из закаленного стекла или прозрачного пластика.</div>
                </div>
              </a></li>

              <li><a href="#">
                <h4 class="sub-menu__title">Аккумуляторы</h4>
                <div class="sub-menu__body">
                  <div class="sub-menu__preview"  style="background-image: url(img/menu/category-img-5.png)" data-bg="url(img/menu/category-img-5.png)" data-hover-bg="url(img/menu/category-img-5-hover.png)">
                    
                  </div>
                  <div class="sub-menu__text">Вместо привычных металлических стенок в этом случае используется колба из закаленного стекла или прозрачного пластика.</div>
                </div>
              </a></li>

              <li><a href="#">
                <h4 class="sub-menu__title">Картриджи</h4>
                <div class="sub-menu__body">
                  <div class="sub-menu__preview" style="background-image: url(img/menu/category-img-6.png)" data-bg="url(img/menu/category-img-6.png)" data-hover-bg="url(img/menu/category-img-6-hover.png)">
                    
                  </div>
                  <div class="sub-menu__text">Вместо привычных металлических стенок в этом случае используется колба из закаленного стекла или прозрачного пластика.</div>
                </div>
              </a></li>

              <li><a href="#">
                <h4 class="sub-menu__title">Атомайзеры</h4>
                <div class="sub-menu__body">
                  <div class="sub-menu__preview" style="background-image: url(img/menu/category-img-7.png)" data-bg="url(img/menu/category-img-7.png)" data-hover-bg="url(img/menu/category-img-7-hover.png)">
                    
                  </div>
                  <div class="sub-menu__text">Вместо привычных металлических стенок в этом случае используется колба из закаленного стекла или прозрачного пластика.</div>
                </div>
              </a></li>

              <li><a href="#">
                <h4 class="sub-menu__title">Зарядные устройства</h4>
                <div class="sub-menu__body">
                  <div class="sub-menu__preview" style="background-image: url(img/menu/category-img-8.png)" data-bg="url(img/menu/category-img-8.png)" data-hover-bg="url(img/menu/category-img-8-hover.png)">
                    
                  </div>
                  <div class="sub-menu__text">Вместо привычных металлических стенок в этом случае используется колба из закаленного стекла или прозрачного пластика.</div>
                </div>
              </a></li>

              <li><a href="#">
                <h4 class="sub-menu__title">Дрипки</h4>
                <div class="sub-menu__body">
                  <div class="sub-menu__preview" style="background-image: url(img/menu/category-img-1.png)" data-bg="url(img/menu/category-img-9.png)" data-hover-bg="url(img/menu/category-img-9-hover.png)">
                    
                  </div>
                  <div class="sub-menu__text">Вместо привычных металлических стенок в этом случае используется колба из закаленного стекла или прозрачного пластика.</div>
                </div>
              </a></li>
            </ul>
          </div>
        </li>
        <li class="nav-main__item">
          <a class="nav-main__link" href="#">Раздел 2</a>
        </li>
        <li class="nav-main__item">
          <a class="nav-main__link" href="#">Раздел 3</a>
        </li>
        <li class="nav-main__item">
          <a class="nav-main__link" href="#">Раздел 4</a>
        </li>
        <li class="nav-main__item">
          <a class="nav-main__link" href="#">Новинки</a>
        </li>
        <li class="nav-main__item">
          <a class="nav-main__link" href="#">Акции</a>
        </li>
      </ul>
      
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>