<div class="modal fade" id="registrationModal" tabindex="-1" role="dialog">
  <div class="modal-dialog  modal-sm">
    <div class="modal-content ">
      <div class="modal-header">
        <button type="button" class="btn-close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title">Регистрация</h4>
      </div>
      <div class="modal-body">
        <form>
          <div class="form-group">
            <label for="registrationName">Имя</label>
            <input type="text" class="form-control" id="registrationName">
          </div>

          <div class="form-group">
            <label for="registrationEmail">Email</label>
            <input type="email" class="form-control" id="registrationEmail">
          </div>

          <div class="form-group">
            <label for="registrationPassword">Пароль</label>
            <input type="password" class="form-control" id="registrationPassword">
          </div>

          <div class="checkbox">
            <label>
              <input type="checkbox"> Подписаться на новости
            </label>
          </div>

          <div class="form-action text-center">
            <button type="submit" class="btn btn-red-dark">Зарегистрироваться</button>
          </div>
        </form>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

<div class="modal fade" id="enterModal" tabindex="-1" role="dialog">
  <div class="modal-dialog modal-sm">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="btn-close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title">Вход</h4>
      </div>
      <div class="modal-body">
        <form>
          <div class="form-group">
            <label for="enterEmail">Email</label>
            <input type="email" class="form-control" id="enterEmail">
          </div>

          <div class="form-group">
            <label for="enterPassword">Пароль</label>
            <input type="password" class="form-control" id="enterPassword">
          </div>

          <div class="form-action text-center">
            <button type="submit" class="btn btn-red-dark">Войти</button>
          </div>
        </form>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

<div class="modal fade" id="quickOrderModal" tabindex="-1" role="dialog">
  <div class="modal-dialog modal-sm">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="btn-close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title">Быстрый заказ</h4>
      </div>
      <div class="modal-body">
        <form>
          <div class="form-group">
            <label for="inputName" class="control-label">Имя</label>
            <input type="email" class="form-control" id="inputName">
          </div>

          <div class="form-group">
            <label for="inputEmail3" class="control-label">Email</label>
            <input type="email" class="form-control" id="inputEmail3" >
          </div>

          <div class="form-group">
            <label for="telInput" class="control-label">Телефон</label>
            <input type="tel" class="form-control" id="telInput">
          </div>

          <div class="form-group">
            <label for="inputComments">Комментарий</label>
            <textarea name="inputComments" class="form-control" id="inputComments" rows="5"></textarea>
          </div>

          <div class="form-action text-center">
            <button type="submit" class="btn btn-red-dark">Заказать</button>
          </div>
        </form>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

<div class="modal fade" id="quickOrderModal2" tabindex="-1" role="dialog">
  <div class="modal-dialog modal-sm">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="btn-close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title">Быстрый заказ</h4>
      </div>
      <div class="modal-body">
        <form>
          <div class="form-group">
            <label for="inputName" class="control-label">Имя</label>
            <input type="email" class="form-control" id="inputName">
          </div>

          <div class="form-group">
            <label for="inputEmail3" class="control-label">Email</label>
            <input type="email" class="form-control" id="inputEmail3" >
          </div>

          <div class="form-group">
            <label for="telInput" class="control-label">Телефон</label>
            <input type="tel" class="form-control" id="telInput">
          </div>

          <div class="form-group">
            <label for="inputComments">Комментарий</label>
            <textarea name="inputComments" class="form-control" id="inputComments" rows="5"></textarea>
          </div>
          <h5>Товары в корзине</h5>

          <table class="table-order-modal">
            <tr>
              <td class="table-order-modal__name">Длинное название товара </td>
              <td class="table-order-modal__count">
                <input type="text" class="form-control spin-arrow js-spin-arrow" value="3">
              </td>
              <td class="table-order-modal__price">1500 руб.</td>
            </tr>
            <tr>
              <td class="table-order-modal__name">Длинное название товара </td>
              <td class="table-order-modal__count">
                <input type="text" class="form-control spin-arrow js-spin-arrow" value="3">
              </td>
              <td class="table-order-modal__price">1500 руб.</td>
            </tr>
          </table>

          <div class="form-action text-center">
            <button type="submit" class="btn btn-red-dark">Заказать</button>
          </div>
        </form>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

<div class="modal fade" id="ageCheck" tabindex="-1" role="dialog">
  <div class="modal-dialog-check">
    <div class="modal-check">
      <div class="modal-check-logo">
        <img src="img/big-logo.png" alt="VapeShop">
      </div>
      <hr class="sep-white">
      <p>Вам уже исполнилось 18 лет?</p>
      <div class="modal-check-action">
        <button class="btn btn-success" data-dismiss="modal" aria-label="Close">Да</button>
        <button class="btn btn-danger">Нет</button>
      </div>
      <hr class="sep-white">
     <!--  <div class="copy">
        © 2016 VapeShop Магазин Электронных сигарет
      </div> -->
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->


<div class="modal fade" id="goodReviewModal3" tabindex="-1" role="dialog">
  <div class="modal-dialog  modal-md">
    <div class="modal-content ">
      <div class="modal-header">
        <button type="button" class="btn-close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title">Написать отзыв</h4>
      </div>
      <div class="modal-body">
        <form class="reviewModal">
          <div class="row row_between_15">
            <div class="col-md-6">
              <div class="form-group">
                <label>Оцените продукт</label>
                <div class="rating-block">
                  <div class="rating">
                    <span class="glyphicon glyphicon-star empty"></span>
                    <span class="glyphicon glyphicon-star empty"></span>
                    <span class="glyphicon glyphicon-star empty"></span>
                    <span class="glyphicon glyphicon-star empty"></span>
                    <span class="glyphicon glyphicon-star empty"></span>
                  </div>
                </div>
              </div>
              <div class="form-group">
                <label for="reviewName">Имя</label>
                <input type="text" class="form-control" id="reviewName">
              </div>

              <div class="form-group">
                <label for="reviewAdvantages">Преимущества</label>
                <input type="text" class="form-control" id="reviewAdvantages">
              </div>

              <div class="form-group">
                <label for="reviewDisadvetages">Недостатки</label>
                <input type="text" class="form-control" id="reviewDisadvetages">
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group">
                <label for="reviewText">Отзыв</label>
                <textarea name="reviewText" id="reviewText" rows="9" class="form-control"></textarea>
              </div>
              <div class="form-action text-right">
                <button type="submit" class="btn btn-red-dark">Отправить</button>
              </div>
            </div>
          </div>
        </form>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->